ACTION=="change", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{HOME}="/home/<username>" ENV{XAUTHORITY}="$env{HOME}/.Xauthority", RUN+="/bin/sh -c 'xlayoutdisplay >> /tmp/xlayoutdisplay.udev.log 2>&1'"
